In [3]:
import pandas as pd

In [13]:
df = pd.read_csv("C://Users//LENOVO//MDS PROJECT 2//automobile_cleaned_data_with_categorical_variables.csv", header=None)

In [14]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,24,25,26,27,28,29,30,31,32,33
0,NaN,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
1,0.0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,21,27,13495.0,0,1,0,2,0,0,5
2,1.0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,21,27,16500.0,0,1,0,2,0,0,5
3,2.0,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,...,19,26,16500.0,0,1,2,2,0,4,5
4,3.0,2,164,audi,gas,std,four,sedan,fwd,front,...,24,30,13950.0,1,0,3,1,0,2,5

In [15]:
headers = ["abc","symboling","normalized-losses","make","fuel-type","aspiration", "num-of-doors","body-style",
         "drive-wheels","engine-location","wheel-base", "length","width","height","curb-weight","engine-type",
         "num-of-cylinders", "engine-size","fuel-system","bore","stroke","compression-ratio","horsepower",
         "peak-rpm","city-mpg","highway-mpg","price","make_le","num-of-doors_le","body-style_le",
           "drive-wheels_le","engine-location_le","engine-type_le","fuel-system_le"]

df.columns = headers
df.head(10)

,abc,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,city-mpg,highway-mpg,price,make_le,num-of-doors_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
0,NaN,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
1,0.0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,21,27,13495.0,0,1,0,2,0,0,5
2,1.0,3,122,alfa-romero,gas,std,two,convertible,rwd,front,...,21,27,16500.0,0,1,0,2,0,0,5
3,2.0,1,122,alfa-romero,gas,std,two,hatchback,rwd,front,...,19,26,16500.0,0,1,2,2,0,4,5
4,3.0,2,164,audi,gas,std,four,sedan,fwd,front,...,24,30,13950.0,1,0,3,1,0,2,5
5,4.0,2,164,audi,gas,std,four,sedan,4wd,front,...,18,22,17450.0,1,0,3,0,0,2,5
6,5.0,2,122,audi,gas,std,two,sedan,fwd,front,...,19,25,15250.0,1,1,3,1,0,2,5
7,6.0,1,158,audi,gas,std,four,sedan,fwd,front,...,19,25,17710.0,1,0,3,1,0,2,5
8,7.0,1,122,audi,gas,std,four,wagon,fwd,front,...,19,25,18920.0,1,0,4,1,0,2,5
9,8.0,1,158,audi,gas,turbo,four,sedan,fwd,front,...,17,20,23875.0,1,0,3,1,0,2,5

In [16]:
df=df.drop(['make'],axis=1)

In [17]:
df=df.drop(['body-style'],axis=1)

In [18]:
df=df.drop(['drive-wheels'],axis=1)

In [19]:
df=df.drop(['fuel-system'],axis=1)

In [20]:
df.head()

,abc,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,city-mpg,highway-mpg,price,make_le,num-of-doors_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
0,NaN,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,city-mpg,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le
1,0.0,3,122,gas,std,two,front,88.6,168.8,64.1,...,21,27,13495.0,0,1,0,2,0,0,5
2,1.0,3,122,gas,std,two,front,88.6,168.8,64.1,...,21,27,16500.0,0,1,0,2,0,0,5
3,2.0,1,122,gas,std,two,front,94.5,171.2,65.5,...,19,26,16500.0,0,1,2,2,0,4,5
4,3.0,2,164,gas,std,four,front,99.8,176.6,66.2,...,24,30,13950.0,1,0,3,1,0,2,5

In [22]:
import sklearn

In [23]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [24]:
df['aspiration_le']=le.fit_transform(df["aspiration"])
df.head(1)

,abc,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,highway-mpg,price,make_le,num-of-doors_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le
0,NaN,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,highway-mpg,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,0

In [25]:
df['fuel_type_le']=le.fit_transform(df["fuel-type"])
df.head(1)

,abc,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,price,make_le,num-of-doors_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,NaN,symboling,normalized-losses,fuel-type,aspiration,num-of-doors,engine-location,wheel-base,length,width,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,0,1

In [26]:
df=df.drop(['fuel-type'],axis=1)

In [27]:
df.head()

,abc,symboling,normalized-losses,aspiration,num-of-doors,engine-location,wheel-base,length,width,height,...,price,make_le,num-of-doors_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,NaN,symboling,normalized-losses,aspiration,num-of-doors,engine-location,wheel-base,length,width,height,...,price,make_le,num-of-doors _le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,0,1
1,0.0,3,122,std,two,front,88.6,168.8,64.1,48.8,...,13495.0,0,1,0,2,0,0,5,1,2
2,1.0,3,122,std,two,front,88.6,168.8,64.1,48.8,...,16500.0,0,1,0,2,0,0,5,1,2
3,2.0,1,122,std,two,front,94.5,171.2,65.5,52.4,...,16500.0,0,1,2,2,0,4,5,1,2
4,3.0,2,164,std,four,front,99.8,176.6,66.2,54.3,...,13950.0,1,0,3,1,0,2,5,1,2

In [28]:
df['num-of-doors'].replace('four',4,inplace=True)
df['num-of-doors'].replace('two',2,inplace=True)

In [30]:
df=df.drop(['num-of-doors_le'],axis=1)
df.head(1)

,abc,symboling,normalized-losses,aspiration,num-of-doors,engine-location,wheel-base,length,width,height,...,highway-mpg,price,make_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,aspiration_le,fuel_type_le
0,NaN,symboling,normalized-losses,aspiration,num-of-doors,engine-location,wheel-base,length,width,height,...,highway-mpg,price,make_le,body-style_le,drive-wheels_le,engine-location_le,engine-type_le,fuel-system_le,0,1

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   abc                 200 non-null    float64
 1   symboling           201 non-null    object
 2   normalized-losses   201 non-null    object
 3   aspiration          201 non-null    object
 4   num-of-doors        201 non-null    object
 5   engine-location     201 non-null    object
 6   wheel-base          201 non-null    object
 7   length              201 non-null    object
 8   width               201 non-null    object
 9   height              201 non-null    object
 10  curb-weight         201 non-null    object
 11  engine-type         201 non-null    object
 12  num-of-cylinders    201 non-null    object
 13  engine-size         201 non-null    object
 14  bore                201 non-null    object
 15  stroke              201 non-null    object
 16  compression-ratio   201 non-null    object
 17  horsepower          201 non-null    object
 18  peak-rpm            199 non-null    object
 19  city-mpg            201 non-null    object
 20  highway-mpg         201 non-null    object
 21  price               201 non-null    object
 22  make_le             201 non-null    object
 23  body-style_le       201 non-null    object
 24  drive-wheels_le     201 non-null    object
 25  engine-location_le  201 non-null    object
 26  engine-type_le      201 non-null    object
 27  fuel-system_le      201 non-null    object
 28  aspiration_le       201 non-null    int32
 29  fuel_type_le        201 non-null    int32
dtypes: float64(1), int32(2), object(27)
memory usage: 45.7+ KB

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 201 entries, 0 to 200
Data columns (total 29 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   symboling           201 non-null    object
 1   normalized-losses   201 non-null    object
 2   aspiration          201 non-null    object
 3   num-of-doors        201 non-null    object
 4   engine-location     201 non-null    object
 5   wheel-base          201 non-null    object
 6   length              201 non-null    object
 7   width               201 non-null    object
 8   height              201 non-null    object
 9   curb-weight         201 non-null    object
 10  engine-type         201 non-null    object
 11  num-of-cylinders    201 non-null    object
 12  engine-size         201 non-null    object
 13  bore                201 non-null    object
 14  stroke              201 non-null    object
 15  compression-ratio   201 non-null    object
 16  horsepower          201 non-null    object
 17  peak-rpm            199 non-null    object
 18  city-mpg            201 non-null    object
 19  highway-mpg         201 non-null    object
 20  price               201 non-null    object
 21  make_le             201 non-null    object
 22  body-style_le       201 non-null    object
 23  drive-wheels_le     201 non-null    object
 24  engine-location_le  201 non-null    object
 25  engine-type_le      201 non-null    object
 26  fuel-system_le      201 non-null    object
 27  aspiration_le       201 non-null    int32
 28  fuel_type_le        201 non-null    int32
dtypes: int32(2), object(27)
memory usage: 44.1+ KB

In [38]:
bf=df[["fuel_type_le","bore"]]

In [39]:
bf.head(1)

   fuel_type_le  bore
0             1  bore

In [40]:
x_df=df[["normalized-losses","make_le","fuel_type_le","aspiration_le","num-of-doors","body-style_le","drive-wheels_le","engine-location_le",
      "wheel-base","length","width","height","curb-weight","engine-type_le","num-of-cylinders",
      "engine-size","fuel-system_le","bore","stroke","compression-ratio","horsepower","peak-rpm","city-mpg","highway-mpg","price"]]

In [42]:
y_df=df[["symboling"]]

In [43]:
x_df.to_csv('./X_data.csv')
#saving the cleaned data for safety

In [44]:
y_df.to_csv('./Y_data.csv')
#saving the cleaned data for safety

In [46]:
x_df.head()

,normalized-losses,make_le,fuel_type_le,aspiration_le,num-of-doors,body-style_le,drive-wheels_le,engine-location_le,wheel-base,length,...,engine-size,fuel-system_le,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,normalized-losses,make_le,1,0,num-of-doors,body-style_le,drive-wheels_le,engine-location_le,wheel-base,length,...,engine-size,fuel-system_le,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,122,0,2,1,2,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
2,122,0,2,1,2,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
3,122,0,2,1,2,2,2,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
4,164,1,2,1,4,3,1,0,99.8,176.6,...,109,5,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0

In [54]:
y_df["symboling"].value_counts()

0            65
1            52
2            32
3            27
-1           21
-2            3
symboling     1
Name: symboling, dtype: int64

In [57]:
y_df['symboling'].replace(-1,4,inplace=True)
y_df['symboling'].replace(-2,5,inplace=True)

In [68]:
x_df1=x_df.iloc[1: ,:]
x_df1.head()

,normalized-losses,make_le,fuel_type_le,aspiration_le,num-of-doors,body-style_le,drive-wheels_le,engine-location_le,wheel-base,length,...,engine-size,fuel-system_le,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
1,122,0,2,1,2,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
2,122,0,2,1,2,0,2,0,88.6,168.8,...,130,5,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
3,122,0,2,1,2,2,2,0,94.5,171.2,...,152,5,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
4,164,1,2,1,4,3,1,0,99.8,176.6,...,109,5,3.19,3.4,10.0,102.0,5500.0,24,30,13950.0
5,164,1,2,1,4,3,0,0,99.4,176.6,...,136,5,3.19,3.4,8.0,115.0,5500.0,18,22,17450.0

In [79]:
import pandas as pd 
from sklearn import preprocessing 
x = df.values 
#returns a numpy array 
min_max_scaler = preprocessing.MinMaxScaler() 
x_scaled = min_max_scaler.fit_transform(x_df1) 
df_x_normal = pd.DataFrame(x_scaled)

In [80]:
df_x_normal.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,0.298429,0.000000,1.0,0.0,0.0,0.00,1.0,0.0,0.058309,0.413433,...,0.260377,0.714286,0.664286,0.290476,0.1250,0.416248,0.346939,0.222222,0.289474,0.207959
1,0.298429,0.000000,1.0,0.0,0.0,0.00,1.0,0.0,0.058309,0.413433,...,0.260377,0.714286,0.664286,0.290476,0.1250,0.416248,0.346939,0.222222,0.289474,0.282558
2,0.298429,0.000000,1.0,0.0,0.0,0.50,1.0,0.0,0.230321,0.449254,...,0.343396,0.714286,0.100000,0.666667,0.1250,0.582482,0.346939,0.166667,0.263158,0.282558
3,0.518325,0.047619,1.0,0.0,1.0,0.75,0.5,0.0,0.384840,0.529851,...,0.181132,0.714286,0.464286,0.633333,0.1875,0.381455,0.551020,0.305556,0.368421,0.219254
4,0.518325,0.047619,1.0,0.0,1.0,0.75,0.0,0.0,0.373178,0.529851,...,0.283019,0.714286,0.464286,0.633333,0.0625,0.431712,0.551020,0.138889,0.157895,0.306142

In [81]:
df_x_normal.to_csv('./X_data_normal.csv')